.libra-health___title-index {
	position: relative;
	margin-bottom: 10px
}

@media (min-width: 768px) {
	.libra-health___title-index {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
}

.libra-health___title-index>a,
.libra-health___title-index>span {
	padding: 7px 20px;
	background: #2a7f49;
	color: #fff;
	font-weight: 700;
	font-size: 1.42857em;
	display: block;
	/*-moz-transform: skew(-22.5deg);*/
	/*-o-transform: skew(-22.5deg);*/
	/*-ms-transform: skew(-22.5deg);*/
	/*-webkit-transform: skew(-22.5deg);*/
	/*transform: skew(-22.5deg)*/
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.libra-health___title-index>a>span,
.libra-health___title-index>span>span {
	/*-moz-transform: skew(22.5deg);
	-o-transform: skew(22.5deg);
	-ms-transform: skew(22.5deg);
	-webkit-transform: skew(22.5deg);
	transform: skew(22.5deg)*/
}

.libra-health___title-index:before {
	content: "";
	position: absolute;
	bottom: 30%;
	border-bottom: #2a7f49 3px double
}

@media (min-width: 768px) {
	.libra-health___title-index:before {
		left: 25%;
		width: 50%
	}
}

@media (max-width: 767px) {
	.libra-health___title-index:before {
		left: 5%;
		width: 95%
	}
}

.libra-health___title-index a:hover {
	color: #ff0
}

.section_slider {
	width: 100%;
	float: left;
	overflow: hidden
}

.section_slider .owl-carousel {
	float: left
}

.section_slider .home-slider .item {
	position: relative
}

.section_slider .home-slider.owl-carousel .owl-nav .owl-next {
	right: 15px !important;
	background: transparent;
	top: 50%
}

.section_slider .home-slider.owl-carousel .owl-nav .owl-prev {
	left: 15px !important;
	background: transparent;
	top: 50%
}

.section_slider .home-slider.owl-carousel .owl-nav .owl-prev:before,
.section_slider .home-slider.owl-carousel .owl-nav .owl-next:before {
	font-size: 84px;
	background: transparent
}

.section_slider .owl-dots {
	margin-top: 0 !important
}

@media (min-width: 768px) {
	.section_slider .owl-dots {
		bottom: 10px
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.section_slider .owl-dots {
		bottom: 0
	}
}

.section_catalogue {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 30px 0;
	background: #fff
}

.section_catalogue .section_catalogue___item {
	width: 100%;
	float: left
}

.section_catalogue .section_catalogue___item a {
	width: 100%;
	float: left
}

.section_catalogue .section_catalogue___item:hover .section_catalogue___image img {
	-moz-transform: rotateY(45deg);
	-o-transform: rotateY(45deg);
	-ms-transform: rotateY(45deg);
	-webkit-transform: rotateY(45deg);
	transform: rotateY(45deg)
}

.section_catalogue .section_catalogue___image {
	width: 100%;
	height: 80px;
	float: left;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.section_catalogue .section_catalogue___image img {
	-webkit-transition: all linear 300ms;
	-moz-transition: all linear 300ms;
	-ms-transition: all linear 300ms;
	-o-transition: all linear 300ms;
	transition: all linear 300ms
}

.section_catalogue .section_catalogue___info {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 1.07143em;
	font-weight: 700;
	margin-top: 10px;
	line-height: normal
}

.section_introduce {
	width: 100%;
	float: left;
	padding: 30px 0;
	overflow: hidden;
	background: #f9f9f9
}

.section_introduce .section_introduce___image {
	float: left
}

@media (min-width: 1200px) {
	.section_introduce .section_introduce___image {
		width: 35%;
		margin-right: 30px
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_introduce .section_introduce___image {
		width: 40%;
		margin-right: 30px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_introduce .section_introduce___image {
		width: 100%;
		margin-bottom: 30px
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_introduce .section_introduce___image {
		width: 100%;
		margin-bottom: 30px
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_introduce .section_introduce___image {
		width: 100%;
		margin-bottom: 30px
	}
}

.section_introduce .section_introduce___image img {
	margin: 0 auto;
	border: #2a7f49 3px double;
	-webkit-border-radius: 20px 20px 0;
	border-radius: 20px 20px 0
}

.section_introduce .section_introduce___desc {
	float: left
}

@media (min-width: 1200px) {
	.section_introduce .section_introduce___desc {
		width: calc(65% - 30px)
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_introduce .section_introduce___desc {
		width: calc(60% - 30px)
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_introduce .section_introduce___desc {
		width: 100%
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_introduce .section_introduce___desc {
		width: 100%
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_introduce .section_introduce___desc {
		width: 100%
	}
}

.section_introduce .section_introduce___desc p {
	margin: 0 0 5px
}

.section_introduce .section_introduce___desc p:last-child {
	margin: 0
}

.section_introduce .section_introduce___desc .libra-health___viewmore {
	margin-top: 15px
}

.section_service {
	width: 100%;
	float: left;
	padding: 30px 0;
	overflow: hidden;
	background: #f8f5e6
}

.section_service .section_service___desc {
	width: 100%;
	float: left
}

.section_service .section_service___desc p:last-child {
	margin: 0
}

@media (min-width: 1200px) {
	.section_service .section_service___desc {
		font-size: 1.07143em
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_service .section_service___desc {
		font-size: 1em
	}
}

.section_service .section_service___list {
	width: 100%;
	float: left
}

@media (max-width: 991px) {
	.section_service .section_service___list {
		margin: 0 0 20px
	}
}

@media (min-width: 1200px) {
	.section_service .section_service___item:nth-child(4n+1) {
		clear: left
	}
	.section_service .section_service___item:nth-child(-n+4) {
		margin-bottom: 20px
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_service .section_service___item:nth-child(4n+1) {
		clear: left
	}
	.section_service .section_service___item:nth-child(-n+4) {
		margin-bottom: 20px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_service .section_service___item:nth-child(4n+1) {
		clear: left
	}
	.section_service .section_service___item:nth-child(-n+4) {
		margin-bottom: 20px
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_service .section_service___item:nth-child(2n+1) {
		clear: left
	}
	.section_service .section_service___item:nth-child(-n+6) {
		margin-bottom: 20px
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_service .section_service___item:nth-child(2n+1) {
		clear: left
	}
	.section_service .section_service___item:nth-child(-n+6) {
		margin-bottom: 20px
	}
}

.section_service .section_service___item .item {
	width: 65%;
	float: left;
}


.section_service .section_service___item .item:hover .section_service___image {
	border: red 2px solid
}

.section_service .section_service___item .item:hover img {
	opacity: 0.5
}

.section_service .section_service___item .item:hover .section_service___name a {
	color: red
}

.section_service .section_service___item .section_service___image {
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all ease 300ms;
	-moz-transition: all ease 300ms;
	-ms-transition: all ease 300ms;
	-o-transition: all ease 300ms;
	transition: all ease 300ms;
	border: #2a7f49 2px solid;
	overflow: hidden
}

@media (min-width: 1200px) {
	.section_service .section_service___item .section_service___image {
		width: 100%;
		height: 165px;
		margin-bottom: 10px
	}
	.section_service .section_service___item .item {
		margin-left: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_service .section_service___item .section_service___image {
		width: 100%;
		height: 131.66px;
		margin-bottom: 10px
	}
	.section_service .section_service___item .item {
		margin-left: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_service .section_service___item .section_service___image {
		width: 155%;
		height: 157.5px;
		margin-bottom: 10px
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_service .section_service___item .section_service___image {
		width: 115%;
		height: 241.5px;
		margin-bottom: 10px
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_service .section_service___item .section_service___image {
		width: 130px;
		height: 130px;
		margin: 0 auto;
		margin-bottom: 10px
	}
}

.section_service .section_service___item .section_service___image img {
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	transition: all ease 500ms;

}

.section_service .section_service___item .section_service___name {
	text-align: center;
	margin: 0;

}


@media (min-width: 1200px) {
	.section_service .section_service___item .section_service___name {
		font-size: 1em;
		font-weight: 700
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_service .section_service___item .section_service___name {
		font-size: .92857em;
		font-weight: 700
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_service .section_service___item .section_service___name {
		font-size: 1em;
		font-weight: 700
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_service .section_service___item .section_service___name {
		font-size: 1.14286em;
		font-weight: 700
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_service .section_service___item .section_service___name {
		font-size: 1em;
		font-weight: 700;
		margin-left: 12px;
	}
}

@media (min-width: 1200px) {
	.article-item.index-article-item___slide:hover .article-thumbnail {
		opacity: 0.5
	}
	.article-item.index-article-item___slide:hover .article-title a {
		color: red
	}
}

.article-item.index-article-item___slide .article-thumbnail {
	width: 100%;
	margin: 0 0 10px;
	-webkit-transition: all ease 300ms;
	-moz-transition: all ease 300ms;
	-ms-transition: all ease 300ms;
	-o-transition: all ease 300ms;
	transition: all ease 300ms
}

.article-item.index-article-item___slide .article-thumbnail a {
	width: 100%;
	float: left
}

.article-item.index-article-item___slide .article-thumbnail img {
	margin: 0 auto;
	max-height: 300px !important
}

.article-item.index-article-item___slide .article-info {
	width: 100%
}

.article-item.index-article-item___list .article-summary {
	margin: 0
}

@media (max-width: 767px) {
	.article-item.index-article-item___list.article-item___large {
		margin: 0 0 20px
	}
}

.article-item.index-article-item___list.article-item___large .article-title {
	font-size: 1.14286em
}

@media (min-width: 1200px) {
	.article-item.index-article-item___list.article-item___large .article-thumbnail {
		width: 100%;
		margin: 0 0 10px
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article-item.index-article-item___list.article-item___large .article-thumbnail {
		width: 100%;
		margin: 0 0 10px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.article-item.index-article-item___list.article-item___large .article-thumbnail {
		width: 100%;
		margin: 0 0 10px
	}
}

@media (min-width: 511px) and (max-width: 767px) {
	.article-item.index-article-item___list.article-item___large .article-thumbnail {
		width: calc(50% - 10px);
		margin-right: 20px
	}
}

@media (min-width: 320px) and (max-width: 510px) {
	.article-item.index-article-item___list.article-item___large .article-thumbnail {
		width: 100%;
		margin-bottom: 10px
	}
}

@media (min-width: 1200px) {
	.article-item.index-article-item___list.article-item___large .article-info {
		width: 100%
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article-item.index-article-item___list.article-item___large .article-info {
		width: 100%
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.article-item.index-article-item___list.article-item___large .article-info {
		width: 100%
	}
}

@media (min-width: 511px) and (max-width: 767px) {
	.article-item.index-article-item___list.article-item___large .article-info {
		width: calc(50% - 10px)
	}
}

@media (min-width: 320px) and (max-width: 510px) {
	.article-item.index-article-item___list.article-item___large .article-info {
		width: 100%
	}
}

.article-item.index-article-item___list.article-item___small {
	width: 100%;
	float: left
}

@media (min-width: 768px) {
	.article-item.index-article-item___list.article-item___small:not(:last-child) {
		margin: 0 0 30px
	}
}

@media (max-width: 767px) {
	.article-item.index-article-item___list.article-item___small:not(:last-child) {
		margin: 0 0 20px
	}
}

.article-item.index-article-item___list.article-item___small:hover .article-title {
	color: red
}

@media (min-width: 1200px) {
	.article-item.index-article-item___list.article-item___small .article-thumbnail {
		width: 100px;
		margin: 0 20px 0 0
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article-item.index-article-item___list.article-item___small .article-thumbnail {
		width: 90px;
		margin: 0 10px 0 0
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.article-item.index-article-item___list.article-item___small .article-thumbnail {
		width: 100px;
		margin: 0 10px 0 0
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.article-item.index-article-item___list.article-item___small .article-thumbnail {
		width: 160px;
		margin: 0 20px 0 0
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.article-item.index-article-item___list.article-item___small .article-thumbnail {
		width: 120px;
		margin: 0 20px 0 0
	}
}

@media (min-width: 1200px) {
	.article-item.index-article-item___list.article-item___small .article-info {
		width: calc(100% - 120px)
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article-item.index-article-item___list.article-item___small .article-info {
		width: calc(100% - 100px)
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.article-item.index-article-item___list.article-item___small .article-info {
		width: calc(100% - 110px)
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.article-item.index-article-item___list.article-item___small .article-info {
		width: calc(100% - 180px)
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.article-item.index-article-item___list.article-item___small .article-info {
		width: calc(100% - 140px)
	}
}

.article-item.index-article-item___list.article-item___small .article-info .article-title {
	margin: 0;
	font-weight: normal
}

.section_news_slide {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 30px 0;
	background: #f9f9f9
}

.section_news_list_and_video {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 30px 0;
	background: #ffffff
}

.section_news_list_and_video .section_news_list_and_video___video {
	width: 100%;
	float: left
}

.section_news_list_and_video .section_news_list_and_video___video .libra-health___player {
	margin-bottom: 20px;
	width: 100%;
	float: left
}

@media (min-width: 1200px) {
	.section_news_list_and_video .section_news_list_and_video___video .libra-health___player {
		height: 350px
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_news_list_and_video .section_news_list_and_video___video .libra-health___player {
		height: 300px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_news_list_and_video .section_news_list_and_video___video .libra-health___player {
		height: 405px
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_news_list_and_video .section_news_list_and_video___video .libra-health___player {
		height: 385px
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_news_list_and_video .section_news_list_and_video___video .libra-health___player {
		height: 220px
	}
}

.section_news_list_and_video .section_news_list_and_video___video .libra-health___player-title {
	width: 100%;
	float: left;
	font-size: 1.07143em;
	font-weight: 700;
	margin: 0
}

@media (max-width: 991px) {
	.section_news_list_and_video .section_news_list_and_video___video .libra-health___player-title {
		margin-bottom: 20px
	}
}

.section_news_list_and_video .section_news_list_and_video___list {
	width: 100%;
	float: left
}

.section_feedback {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 30px 0;
	background: #ebebeb
}

.section_feedback .item {
	width: 100%;
	float: left;
	background: #ebebeb
}

.section_feedback .item___1 {
	background: #8CCECA
}

.section_feedback .item___2 {
	background: #E1D9A5
}

.section_feedback .item___3 {
	background: #B1D37B
}

.section_feedback .section_feedback___header {
	width: 100%;
	float: left;
	padding: 15px 15px 20px;
	position: relative
}

.section_feedback .section_feedback___header:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px 0px;
	border-color: transparent transparent #ebebeb transparent;
	position: absolute;
	bottom: 0;
	left: 25%
}

.section_feedback .section_feedback___image {
	float: left;
	overflow: hidden;
	border: #fff 3px solid;
	-webkit-border-radius: 20px 20px 0;
	border-radius: 20px 20px 0
}

@media (min-width: 1200px) {
	.section_feedback .section_feedback___image {
		width: 150px;
		margin: 0 20px 0 0
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_feedback .section_feedback___image {
		width: 100px;
		margin: 0 20px 0 0
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_feedback .section_feedback___image {
		width: 100px;
		margin: 0 20px 0 0
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_feedback .section_feedback___image {
		width: 100%;
		margin: 0 0 15px
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_feedback .section_feedback___image {
		width: 100%;
		margin: 0 0 15px
	}
}

.section_feedback .section_feedback___info {
	float: left
}

@media (min-width: 1200px) {
	.section_feedback .section_feedback___info {
		width: calc(100% - 170px)
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_feedback .section_feedback___info {
		width: calc(100% - 120px)
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_feedback .section_feedback___info {
		width: calc(100% - 120px)
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_feedback .section_feedback___info {
		width: 100%;
		padding: 0 20px
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.section_feedback .section_feedback___info {
		width: 100%;
		padding: 0 20px
	}
}

.section_feedback .section_feedback___title {
	float: left;
	width: 100%
}

@media (min-width: 1200px) {
	.section_feedback .section_feedback___title {
		font-size: 1.28571em;
		margin: 10px 0
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_feedback .section_feedback___title {
		font-size: 1.14286em;
		margin: 0 0 5px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section_feedback .section_feedback___title {
		font-size: 1.14286em;
		margin: 0 0 5px
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.section_feedback .section_feedback___title {
		font-size: 1.14286em;
		margin: 0 0 5px
	}
}

.section_feedback .section_feedback___sub {
	float: left;
	width: 100%;
	font-size: 1em;
	font-style: italic
}

.section_feedback .section_feedback___content {
	width: 100%;
	float: left;
	padding: 15px 0
}

.section_feedback .section_feedback___content span {
	width: 100%;
	float: left;
	padding: 10px;
	background: #fff
}

.section_product {
	width: 100%;
	float: left;
	padding: 30px 0;
	overflow: hidden
}

@media (max-width: 767px) {
	.section_product .product-name {
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden
	}
}

.section_product .section_product_type_1 {
	width: 100%;
	float: left
}

.section_product .section_product_type_2 {
	width: 100%;
	float: left
}

@media (min-width: 1200px) {
	.section_product .section_product_type_2 .product-thumbnail a {
		height: 189.5px
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section_product .section_product_type_2 .product-thumbnail a {
		height: 212.5px
	}
}

.section_product .section_product_type_2 .product-thumbnail a img {
	margin: 0 auto
}

.section_product .section_product_type_3 {
	width: 100%;
	float: left
}

.section_tab_products {
	overflow: hidden;
	padding: 30px 0
}

.section_tab_products ul.tabs-title {
	text-align: center;
	padding: 0;
	width: 100%;
	float: left;
	font-size: 1em;
	margin: 0 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.section_tab_products ul.tabs-title li {
	line-height: normal;
	padding: 10px 15px;
	display: inline-block;
	position: relative;
	color: #4B4B4B;
	float: left
}

@media (min-width: 992px) {
	.section_tab_products ul.tabs-title li.current {
		color: #32a22d !important;
		font-weight: 700
	}
	.section_tab_products ul.tabs-title li:after {
		width: 1px;
		height: calc(100% - 10px);
		background: #dedede;
		content: "";
		position: absolute;
		right: -1px;
		bottom: 5px
	}
}

@media (max-width: 991px) {
	.section_tab_products ul.tabs-title li.tab-title {
		color: red;
		font-weight: 700
	}
}

.section_tab_products ul.tabs-title li:last-child:after {
	background: transparent
}

@media (min-width: 1200px) {
	.section_tab_products ul.tabs-title li:hover {
		color: red
	}
}

.section_tab_products .tab-content {
	width: 100%;
	float: left
}

.section_tab_products .tab-content .loader {
	width: 100%;
	float: left;
	min-height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.section_tab_products .e-tabs {
	width: 100%;
	float: left
}